<div class="auth-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" required formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" required formControlName="password" />
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width">
        Login
      </button>
    </form>
    <p>
      <a mat-button routerLink="/reset-password">Forgot your password?</a>
    </p>
  </mat-card>
</div>
